<h1>these are all the lists</h1>

<% @lists.each do |list| %>
<p>
  <a href="/lists/<%= list.name %>"><%= list.name %></a>

</p>
<% end %>

<%= link_to "Submit new list", new_list_path %>

<%= link_to "Get random task", next_path  %>


<%= form_tag "/search", method: :get do %>
  <%= text_field_tag(
      :q,
      params[:q],
      placeholder: "Search") %>
      <%= submit_tag "Search" %>
<% end %>

<% if false %>
<%= form_for @task,url: "/search?=#{:name}",method: :get do |f| %>
<%= f.label "search bar" %>
<%= f.text_field :name %>
<%= f.submit "Search" %>
<% end %>
<% end %>

<h5>completed today <%= @today_task.length %></h5>
<h5>completed this month <%= @week_task.length %></h5>
<h5>completed this week <%= @month_task.length %></h5>
