<h1>you are currently looking at list <%= @list.name %></h1>

<% if @tasks[0] == nil %>

<h2><%= @current_list_name %> is currently empty.  Click the box below to add a task</h2>

<% else %>

<h2>these are your tasks:</h2>
<table >
  <thead>
    <tr>
      <th>
        Task
      </th>
      <th>
        Due date
      </th>
      <th>
        Update Due date
      </th>
      <th>
        Mark as complete
      </th>

    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td>
        <%= task.name %>
      </td>
      <td>
        <% if task.due_on == nil %>
        Due date not set
        <% else %>
        <%= task.due_on %>
        <% end %>
      </td>
      <td>
        <form action="/items/<%= task.id %>" method="POST">
          <input type="hidden" name="_method" value="PATCH">
          <input type="date" name="task[due_on]" value="" >
          <input  type="submit" name="submit_button" value="Update">
        </form>
      </td>
      <td>
        <%= form_for task, url: "/items/#{task.id}", method: :delete do |f| %>
        <%= f.submit "complete"  %>
        <% end %>
        <%= task.name %> is <%= task.is_completed %>

        <%= link_to "Complete", task_update_path(task.id), method: :delete %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= form_for @task, url: task_create_path do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>


<%= f.submit "submit list" %>
<% end %>

<%= link_to "Back to all lists", lists_path %>
