<h1>you are currently looking at list <%= @list.name %></h1>

<% if @tasks[0] == nil %>

<h2><%= @current_list_name %> is currently empty.  Click the box below to add a task</h2>

<% else %>

<h2>these are your tasks:</h2>
<table >
  <thead>
    <tr>
      <th>
        Task
      </th>
      <th>
        Due date
      </th>
      <th>
        Update Due date
      </th>
      <th>
        Mark as complete
      </th>

    </tr>
  </thead>
  <tbody>
    <% @incomplete_tasks = @tasks.all.select { |t| t.is_completed == nil } %>
    <% @incomplete_tasks.each do |task| %>

    <tr>
      <td>
        <%= task.name %>
      </td>
      <td>
        <% if task.due_on == nil %>
        Due date not set
        <% else %>
        <%= task.due_on %>
        <% end %>
      </td>
      <td>
        <%= form_for task, url: task_update_path(task.id), method: :patch do |f| %>
        <%= f.label :due_on%>
        <%= f.date_field :due_on%>
        <%= f.submit "Update date"%>

        <% end %>

      </td>
      <td>
        <%= link_to "Complete", task_complete_path(task.id), method: :patch %>
      </td>
    </tr>
    <% end %>

  </tbody>
</table>
<% end %>

<%= form_for @task, url: task_create_path do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>


<%= f.submit "submit list" %>
<% end %>

<%= link_to "Back to all lists", lists_path %>
